.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  /* crossplatform addition */
  margin: -1px;
  padding: 0;
  border: 0;
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

/* .virtual-reality {
  display: block;
} */

.virtual-reality::before {
  content: "";
  width: 100px;
  height: 100px;
  background-color: yellow;
}

.virtual-reality::after {
  content: "";
  width: 97px;
  height: 55px;
  background-image: url("img/product-category-virtual-reality.svg");
}
